{% extends 'base.html' %}
{% load i18n static form_tags %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <header class="navbar navbar-dark navbar-expand-lg sticky-top bg-primary flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="/">{% translate "Assets Management System" %}</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <form class="w-100 me-3" role="search">
            <input class="form-control form-control-light w-100 rounded-0 border-0" type="text" placeholder="{% translate 'Search' %}" aria-label="Search">
        </form>
        <ul class="navbar-nav justify-content-end">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="javascript:;" rol="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person-circle"></i> {{ user.username|capfirst }}
                </a>
                <ul class="dropdown-menu dropdown-menu-light dropdown-menu-end">
                    {% if user.is_superuser or user.is_staff %}
                        <li><a class="dropdown-item" href="{% url 'admin:index' %}"><i class="bi bi-person-check-fill "></i> {% translate "Admin Panel" %}</a></li>
                        <li><hr class="dropdown-divider"></li>
                    {% endif %}
                    {% if user.is_superuser %}
                        <li><a class="dropdown-item" href="http://127.0.0.1:8001" target="_blank"><i class="bi bi-activity "></i> Celery</a></li>
                        <li><a class="dropdown-item" href="http://127.0.0.1:8002" target="_blank"><i class="bi bi-activity "></i> RabbitMQ</a></li>
                        <li><hr class="dropdown-divider"></li>
                    {% endif %}
                    <li><a class="dropdown-item" href="{% url 'admin:logout' %}"><i class="bi bi-power" ></i> {% translate "Sign Out" %}</a></li>
                </ul>
            </li>
        </ul>
    </header>
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3 sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">
                                <i class="bi-speedometer"></i> Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="bi-list-stars"></i> Inventory
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'discovery:discovery-index' %}">
                                <i class="bi-search"></i> Discovery
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'discovery:scanner-index' %}">
                                <i class="bi-search"></i> Scanner
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                {% block content %}
                    {% block content_header %}
                        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center px-3 pt-3 pb-2 mb-3 border-bottom bg-light bg-gradient">
                            {% block breadcrumbs %}{% breadcrumb title=title %}{% endblock %}
                            <div class="btn-toolbar mb-2 mb-md-0">{% block toolbar %}{% endblock %}</div>
                        </div>
                    {% endblock %}
                {% endblock %}
            </main>
        </div>
    </div>
{% endblock %}