{% extends 'base_index.html' %}
{% load i18n static common_tags form_tags %}

{% block css %}
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
{% endblock %}

{% block breadcrumbs %}{% breadcrumb title=title subtitle=object.ip_range %}{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="row alert {% if object.progress == 100 %}alert-success{% else %}alert-warning{% endif %} rounded-0">
        <div class="col-3"><strong class="bolder">{% trans "Created at" %}:</strong> {{ object.created_at }}</div>
        <div class="col-3"><strong class="bolder">{% trans "Created by" %}:</strong> {{ object.created_by.get_full_name }}</div>
        <div class="col-3"><strong class="bolder">{% trans "Ended at" %}:</strong> {{ object.ended_at }}</div>
    </div>
    {% if object.ended_at %}
        {% progress value=object.progress %}
        <div class="my-4 w-100 h-100v" id="networkGraph"></div>
        <div class="row">
            <div class="col-12">
                <div class="card rounded-0">
                    <div class="card-body table-responsive p-0">
                        <table class="table table-striped table-hover table-sm">
                            <thead>
                                <th>#</th>
                                <th>{% trans "IP" %}</th>
                                <th>{% trans "Firewall" %}</th>
                                <th>{% trans "Progress" %}</th>
                                <th>{% trans "Opened Ports" %}</th>
                            </thead>
                            {% for ip, detail in object.nodes|dict_items %}
                                {% if detail %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</td>
                                        <td>{{ ip }}</td>
                                        <td>{% if detail.firewall_detected %}<i class="bi-check text-success"></i>{% else %}<i class="bi-x text-danger"></i>{% endif %}</td>
                                        <td>{% progress value=detail.progress %}</td>
                                        <td>
                                            {% if detail.opened_ports %}
                                                {{ detail.opened_ports }}
                                            {% else %}
                                                {% trans "No opend ports found." %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div id="alertPlaceHolder"></div>
        {% progress value=object.progress element_id="progress_bar" %}
        <div class="my-4 w-100 h-100v" id="networkGraph"></div>
        <div class="row">
            <div class="col-12">
                <div class="card rounded-0">
                    <div class="card-body table-responsive p-0">
                        <table id="discovery_result" class="table table-striped table-hover table-sm">
                            <thead>
                                <th>#</th>
                                <th>{% trans "IP" %}</th>
                                <th>{% trans "Firewall" %}</th>
                                <th>{% trans "Progress" %}</th>
                                <th>{% trans "Opened Ports" %}</th>
                            </thead>
                            {% for ip, detail in object.nodes|dict_items %}
                                {% if detail %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</td>
                                        <td>{{ ip }}</td>
                                        <td>{% if detail.firewall_detected %}<i class="bi-check text-success"></i>{% else %}<i class="bi-x text-danger"></i>{% endif %}</td>
                                        <td>{% progress value=detail.progress %}</td>
                                        <td>
                                            {% if detail.opened_ports %}
                                                {{ detail.opened_ports }}
                                            {% else %}
                                                {% trans "No opend ports found." %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block footer %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/11.0.1/highcharts.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/11.0.1/modules/networkgraph.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/11.0.1/modules/exporting.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/11.0.1/modules/export-data.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/11.0.1/modules/accessibility.min.js"></script>
    {% if object.ended_at %}
    <script>
        {% autoescape off %}
        var graph =  {{ object.graph }};
        {% endautoescape %}
        var gnodes = graph.NODES;
        var nodes = [];
        for (var key in gnodes){
            if (gnodes[key] != null){
                nodes.push({
                    id: key,
                    dataLabels: {
                        enabled: true
                    },
                    marker: {
                        fillColor: gnodes[key].firewall_detected ? 'green' : '#1aadce'
                    }
                });
            }
        }
        Highcharts.chart('networkGraph', {
            chart: {
                type: 'networkgraph',
                plotBorderWidth: 1
            },
            title: {
                text: 'Network Graph',
            },
            series: [{
                nodes: nodes,
                data: graph.EDGES
            }]
        });
    </script>
    {% else %}
        <script src="{% static 'js/discovery.js' %}"></script>
    {% endif %}
{% endblock %}
