{% extends 'base_index.html' %}
{% load i18n static form_tags %}

{% block css %}
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Discovery</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2" role="group">
            </div>
        </div>
    </div>
    {% if perms.discovery.add_discovery %}
        <div class="row mb-4">
            <div class="col-12">
                <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                    <div class="card">
                        <div class="card-header text-center bg-dark text-light"><h4 class="card-title">{% trans "Add discovery" %}</h4></div>
                        <div class="card-body">
                            {% if form.errors and not form.non_field_errors %}
                                <div class="alert alert-danger" role="alert">
                                    {% if form.errors.items|length == 1 %}{% translate "Please correct the error below." %}{% else %}{% translate "Please correct the errors below." %}{% endif %}
                                </div>
                            {% endif %}
                            {% if form.non_field_errors %}
                                {% for error in form.non_field_errors %}
                                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                            <div class="card-text">
                                <p>{{ form.ip_address.errors }}</p>
                                <p>{{ form.netmask.errors }}</p>
                                <div class="input-group">
                                    {{ form.ip_address|inject_class:'form-control' }}
                                    {{ form.netmask|inject_class:'form-control' }}
                                    <button class="btn btn-primary" type="submit" id="button_submit"><i clas="bi-plus"></i>{% trans "Submit" %}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header text-center bg-dark text-light"><h4 class="card-title">{% trans "List of discoveries" %}</h4></div>
                <div class="card-body table-responsive p-0">
                    <table class="table table-striped table-hover">
                        <thead class="table-dark">
                            <th>#</th>
                            <th>{% trans "IP Range" %}</th>
                            <th>{% trans "Created at" %}</th>
                            <th>{% trans "Created by" %}</th>
                            <th>{% trans "Progress" %}</th>
                            <th>{% trans "Ended at" %}</th>
                            <th>{% trans "More" %}</th>
                        </thead>
                        {% for object in object_list %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</td>
                                <td>{{ object.ip_range }}</td>
                                <td>{{ object.created_at }}</td>
                                <td>{{ object.created_by.get_full_name }}</td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar {% if object.progress == 100 %} bg-success {% else %} progress-bar-striped progress-bar-animated {% endif %}" role="progressbar" aria-valuenow="{{ object.progress }}%" style="width: {{ object.progress }}%;" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                                <td>{{ object.ended_at }}</td>
                                <td><a class="link-dark" href="{% url 'discovery:details' pk=object.pk %}">{% trans "More ..." %}</a></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
